PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/digital_boost_cms
JWT_SECRET=change-this-secret-in-production
JWT_EXPIRES_IN=7d
CLIENT_URL=http://127.0.0.1:5173
SUPER_ADMIN_NAME=Super Admin
SUPER_ADMIN_EMAIL=admin@yashinfosystem.in
SUPER_ADMIN_PASSWORD=ChangeMe@12345
